.not-found {
    width: 100%;
    padding-right: 70px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 245px;
}

@media(max-width: 1080px) {
    .not-found {
        margin-top: 407px;
    }
}

@media(max-width: 350px) {
    .not-found {
        margin-top: 329px;
    }
}

.not-found__title {
    color: #FFF;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media(max-width: 350px) {
    .not-found__title {
        font-size: 80px;
    }
}

.not-found__text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0 185px 0;
}

@media(max-width: 350px) {
    .not-found__text {
        font-size: 12px;
        margin: 10px 0 284px 0;
    }
}

.not-found__link {
    color: #4285F4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.not-found__link:hover {
    opacity: 0.7;
    cursor: pointer; 
}

@media(max-width: 350px) {
    .not-found__link {
        font-size: 12px;
    }
}