* {
  box-sizing: border-box;
}

html {
  height: 100%;
} 

body {
  background-color: #202020;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.page {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
